.root{
    -fx-border-color: black;
    -fx-border-width: 6;
    -fx-padding: 4 4 4 4;
}

.base-pane{
    -fx-background-color: linear-gradient(to bottom right, red, blue);
    -fx-background-position: center center;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 15, 0.0 , 0 , 1 );

}

.label{
    -fx-text-fill: floralwhite;
}