/*.code-area .paragraph-box .text {
    -fx-font-size: 18px;
}*/
.code-area .paragraph-box .text.match {
    -rtfx-background-color: #00000033;
}

.line-highlighter { -fx-highlight-fill: ghostwhite; }

.json_curly {
    -fx-fill: grey;
}

.json_property {
    -fx-fill: lightcoral;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: green;
}

.json_array {
    -fx-fill: blue;
}

.json_null {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.json_bool {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: blue;
}