.line-highlighter { -fx-highlight-fill: ghostwhite; }

/* Ensure both selection and bracket match highlights are visible in dark theme */
.code-area .paragraph-box .text.match {
    -rtfx-background-color: #444a2b; /* dark yellowish background */
    border-style: dotted;
    border-color: #8f9d00;
}
.code-area .paragraph-box .text.loop {
    -rtfx-background-color: #3b4130; /* slightly different tint */
}

.text {
    -fx-fill: white;
}

.json_curly {
    -fx-fill: white;
}

.json_property {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: white;
}

.json_array {
    -fx-fill: white;
}

.json_null {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.json_bool {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: green;
}