/*.code-area .paragraph-box .text {
    -fx-font-size: 18px;
}*/
.code-area .paragraph-box .text.match {
    /* Highlight used for bracket match and selections */
    -rtfx-background-color: yellow;
    /* maybe do more coloring */
    border-style: dotted;
    border-color: blue;
}

/* Some highlighters also add an additional "loop" style along with "match".
   Define it too so that themes consistently show the highlight. */
.code-area .paragraph-box .text.loop {
    -rtfx-background-color: #ffe87a; /* a slightly different yellow */
}

.line-highlighter { -fx-highlight-fill: ghostwhite; }

.json_curly {
    -fx-fill: grey;
}

.json_property {
    -fx-fill: lightcoral;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: green;
}

.json_array {
    -fx-fill: blue;
}

.json_null {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.json_bool {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: blue;
}

.code-area .lineno {
    -fx-background-color: #fafafa;
    -fx-text-fill: #a9a9a9;
}
