.root {
  -fx-font-size: .93em ;
}
.treePaths .tree-cell:hover .highlight-on-hover {
    -fx-text-fill: mediumblue;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-text-fill: blue ;
}
.myLeafLabel{
    -fx-padding: .2em;
    -fx-border-width: .1em;
    -fx-border-color: black;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 20;
    -fx-pref-height: 1.71em;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.3em 0 0.3em;
}
.POST {
    -fx-background-color: #49cc90;
}
.PUT {
    -fx-background-color: #fca130;
}
.GET {
    -fx-background-color: #61affe;
}
.DELETE {
    -fx-background-color: #f93e3e;
}
.HEAD {
    -fx-background-color: #9012fe ;
}
.PATCH {
    -fx-background-color: #50e3c2 ;
}
.boxRequestParams {
     -fx-border-width: 1px;
     -fx-border-color: black;
     -fx-padding: 3px;
}

.toggle-switch {
    -fx-skin: "impl.jfxtras.styles.jmetro8.MetroToggleSwitchSkin";
    -thumb-move-animation-time: 100;
    -toggle-display: left;
}